#dash-error.my-hidden.paragraph
  
.paragraph#userdisplay
  Welcome, #{@user.displayable_greeting}.

- if @user.has_supplied_token?
  - if @user.has_active_session?
    = form_tag dash_open_path, class: 'dash-action-form' do
      = hidden_field_tag 'link_secret', @user.plain_secret
      %input#opendoor.btn.btn-default{type: 'submit', value: 'Open door', disabled: (!@user.has_valid_token? || @is_after_hours)}

    = form_tag dash_checkout_path, class: 'dash-action-form' do
      = hidden_field_tag 'link_secret', @user.plain_secret
      %input.btn.btn-default{type: 'submit', value: 'Check out'}
  - else
    = form_tag dash_checkin_path, class: 'dash-action-form' do
      = hidden_field_tag 'link_secret', @user.plain_secret, id: 'linksecret'
      %input#opendoor.btn.btn-default{type: 'submit', value: 'Check in and open door', disabled: (!@user.has_valid_token? || @is_after_hours)}
- else
  .paragraph
    = config_or_locale(:greeting_header)
    
  = form_tag(card_records_path, id: 'payments-form') do
    = hidden_field_tag 'link_secret', @user.plain_secret
    .payment-errors{style: 'display: none'}

    - if @user.needs_name? or @user.needs_email?
      .section-divider
        .paragraph
          = hidden_field_tag 'link_secret', @user.plain_secret
          - if @user.needs_email?
            = label_tag(:email_address, 'Email', class: 'form-control')
            = text_field_tag :email_address, '', {id: 'email_address', class: 'form-control'}
          - if @user.needs_name?
            = label_tag(:username, 'Name', class: 'form-control')
            = text_field_tag :username, '', {id: 'username', class: 'form-control'}

    .section-divider
    .paragraph
      Please supply us a credit card to be able to check in and enter.

    .hidden#publishable-key{'data-key-value' => @stripe_publishable_key}
    = label_tag(:cc_number, 'CC #', class: 'form-control')
    %input{id: 'cc_number', class: 'form-control', "data-stripe" => "number"}
    = label_tag(:cvc, 'CVC', class: 'form-control')
    %input{id: 'cvc', class: 'form-control', "data-stripe" => "cvc"}

    .row.form-row
      .col-xs-6
        = label_tag(:exp_month, 'Exp Month', class: 'form-control')
      .col-xs-6
        = label_tag(:exp_year, 'Exp Year', class: 'form-control')
    .row
      .col-xs-6
        %input.form-control#exp_month{"data-stripe" => "exp-month"}
      .col-xs-6
        %input.form-control#exp_year{"data-stripe" => "exp-year"}

    .form-row
      = submit_tag 'Continue', class: 'btn btn-default', id: 'form-submit'
      .payment-errors.bottom
        Test this box
