= "The door was opened by a #{config_or_locale(:company_name)} user, with the following details:"
%p
  %ul
    %li
      = "name: #{@user.username ? @user.username : 'No name provided'}"
    %li
      = "phone number: #{@user.phone_number}"
    %li
      = "email: #{@user.email}"
